// common screed styles
// TODO URGENT: separate to layouts: 1) "on paper" (scrollable); 2) "insider"

$font-size ?= 12pt
$line-height ?= normal
$screed-bg-color ?= rgba(250, 250, 250, 0) // transparent // move to themes
$screed-info-bg-color ?= rgba(250, 250, 250, .5) // half transparent white // move to themes

@import './styles/on-paper'
@import './styles/insider'
@import './d-screed'