// d-screed

@media screen

  .screed
    background-color $screed-bg-color

    &.screed-focus
      box-shadow $screed-in-focus-box-shadow

    *::selection
      color $screed-selection-color
      -webkit-text-stroke .3px $screed-selection-bg-color
      background-color $screed-selection-bg-color

    .screed-json
      position fixed
      z-index 1
      bottom .5em
      left .5em
      width 12em
      height 50em
      font-family sans-serif
      font-size 8pt
      background-color $screed-info-bg-color
      border 1px solid $screed-border-color
      &.hidden
        display none

    .screed-position
      position fixed
      z-index 1
      top 0
      right 0
      width 25em
      height 36px
      padding .25em .25em 0 .25em
      font-family sans-serif
      font-size 8pt
      background-color $screed-info-bg-color
      border 1px solid $screed-border-color
      &.hidden
        display none

@media all

  .screed
    font-size $screed-font-size
    line-height $screed-line-height

    & *
      box-sizing border-box

    & [contenteditable=true]:focus
      outline none

    p
    span
    td
      white-space pre-wrap

    table
      border-collapse collapse
      table-layout fixed

      th
        user-select none
        white-space nowrap
        cursor default
        background-color $screed-panel-bg-color
        padding .1em .25em
      .table-corner
        min-width 2em
      .table-column-title
        text-align center
        min-width 1in
        font-size 75%
      .table-row-title
        min-width 2em
        text-align right
        font-size 75%
      tbody
        background-color $screed-doc-bg-color
      td
        padding .25em
        cursor text
        border 1px solid $screed-border-color
        background-color $screed-doc-bg-color

      thead
        tr
          background-color $screed-doc-bg-color
      tfoot
        tr
          background-color $screed-doc-bg-color
          position absolute
          top 0


    .screed-check
      display inline-block
      cursor pointer
      font-size 150%
      line-height 1em


@media print

  .screed-json
  .screed-position
    display none

  .screed
    table
      tfoot
        tr
          position relative

@import './cursors'